/* App.css

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

form input {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

form input[type="file"] {
  width: 100%;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table td img {
  max-width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

table td button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

table td button:hover {
  background-color: #c82333;
} */














/* styles.css */

/* table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
} */
























































/* 




/* App.css */

.table-container {
  width: 100%;
  overflow-x: auto; /* افقی اسکرول بار */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* ایڈیٹ اور ڈیلیٹ بٹن کی سٹائلنگ */
.actions-button {
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.add-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.input-field {
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
}

.file-input {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  /* جدول کی سٹائلنگ برائے چھوٹے اشکال */
  .table-container {
    overflow-x: auto;
  }
} 