/* App.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  width: 80%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}
